html
  head
    title index
  body
    h1 Gerencia de notas
    form( action="/nota" method="post" )
      label( for="texto" ) texto:
      input(type="text" id="texto" name="texto" placeholder="texto")
      button( type="submit" ) salvar
    a( href="/notas" ) visualizar notas salvas
